<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello World !!");
const red = ref(true);
const color = ref("green");
function toggleRed() {
  red.value = !red.value;
}
function toggleColor() {
  color.value = color.value === "green" ? "blue" : "green";
}
</script>
<template>
  <p>
    <span :title="message">
      Hover your mouse over me for a few seconds to see my dnamically bound
      title! title!
    </span>
  </p>
  <p :class="{ red }" @click="toggleRed">
    <span title="message">
      This should be red.... but click me to toggle it.
    </span>
  </p>
  <p :style="{ color }" @click="toggleColor">
    <span title="message">
      This should be green.... but click me to toggle it.
    </span>
  </p>
</template>
<style scoped>
.red {
  color: red;
}
</style>
